PORT=3001
JWT_SEED=
MONGO_URL=
MONGO_DB_NAME=

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=correo@gmail.com
MAIL_PASS=app password
MAIL_FROM=Calendario <correo@gmail.com>

VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_SUBJECT=mailto:correo@gmail.com


# Usar local MongoDB
#MONGO_URL=mongodb://mern_user:israelFovLoVert@localhost:27017/
#MONGO_DB_NAME=calendardb
#npx web-push generate-vapid-keys para generar las claves VAPID